<span class="battle-menu-turn menu-attack sub-menu">


  {{#each monster}}
    <div><button class="menu-select {{target}}-position" name="{{target}}">{{name}}</button></div>
  {{/each}}

  {{#each character}}
    <div><button class="menu-select attack-character" name="hero{{id}}">{{name}}</button></div>
  {{/each}}


    

</span>