<span class="battle-menu-turn menu-attack sub-menu">


  {{#each monster}}
    <div><button class="menu-select {{target}}-position" data-name="{{target}}">{{name}}/{{currentHp}}</button></div>
  {{/each}}

  {{#each character}}
    <div><button class="menu-select attack-character" data-name="{{battleName}}">{{name}}</button></div>
  {{/each}}


    

</span>