<div class="list-magics">
  
  {{#each this}}
  <div><span class="{{classes}}"></span></div>
  <br>
  <li>Name: {{name}}</li>
  <li>Type: {{type}}</li>
  <li>Magic id: {{id}}</li>
  <li>Str: {{str}}</li>
  <br>
  {{/each}}
</div>