<span class="battle-menu-turn menu-magic sub-menu">

    <li><button class="menu-select" id="{{character1}}">{{character1}}</button></li>
    <li><button class="menu-select" id="{{character2}}">{{character2}}</button></li>
    <li><button class="menu-select" id="{{enemy1}}">{{enemy1}}</button></li>

    

</span>