<div class="battle {{terrain}}">
  <div>
    <div class="battle-menu-main">NAME 
      {{#each character}}
        <li><button class="menu-select {{battleName}} character" data-name="{{battleName}}">{{name}}</button></li>
      {{/each}}
    
    </div>
    <div class="battle-menu-main-stats">
    <table>
      <tr>
        <th>HP</th>
        <th>MP</th>
      </tr>
      {{#each character}}
        <tr>
          <td>{{currentHp}}/{{maxHp}}</td>
          <td>{{currentMp}}/{{maxMp}}</td>
        </tr>
      {{/each}}
      
    </table>
  </div>
</div>
{{#each character}}
  <span class="{{battleName}} battle-hero" data-name="{{name}}"></span>
{{/each}}
<audio id="battle" controls autoplay name="media"> <source src="../../utility/1-05 Battle.mp3" type="audio/mpeg"> </audio>
<audio id="victory" controls name="media"> <source src="../../utility/1-06 Victory Fanfare.mp3" type="audio/mpeg"> </audio>


