<div class="battle {{terrain}}">
  <div>
    <div class="battle-menu-main">NAME 
      {{#each character}}
        <li><button class="menu-select {{battleName}} character" data-name="{{battleName}}">{{name}}</button></li>
      {{/each}}
    
    </div>
    <div class="battle-menu-main-stats">
    <table>
      <tr>
        <th>HP</th>
        <th>MP</th>
      </tr>
      {{#each character}}
        <tr>
          <td>{{currentHp}}/{{maxHp}}</td>
          <td>{{currentMp}}/{{maxMp}}</td>
        </tr>
      {{/each}}
      
    </table>
  </div>
</div>
{{#each character}}
  <span class="{{battleName}} battle-hero" data-name="{{name}}"></span>
{{/each}}
<audio id="battle" controls name="media"> <source src="../../utility/1-05 Battle.mp3" type="audio/mpeg"> </audio>
<audio id="victory" controls name="media"> <source src="../../utility/1-06 Victory Fanfare.mp3" type="audio/mpeg"> </audio>
<audio id="sword" controls name="media"> <source src="../../utility/swordSlash.mp3" type="audio/mpeg"> </audio>
<audio id="fire-spell" controls name="media"> <source src="../../utility/fire1.mp3" type="audio/mpeg"> </audio>
<audio id="cure-spell" controls name="media"> <source src="../../utility/healingSpell.mp3" type="audio/mpeg"> </audio>
<audio id="cursor" controls name="media"> <source src="../../utility/cursor.mp3" type="audio/mpeg"> </audio>
<audio id="lightning" controls name="media"> <source src="../../utility/lightning1.m4a" type="audio/mpeg"> </audio>
<audio id="swipe" controls name="media"> <source src="../../utility/swipe.mp3" type="audio/mpeg"> </audio>
<audio id="boss-intro" controls name="media"> <source src="../../utility/boss-battle1.m4a" type="audio/mpeg"> </audio>
<audio id="boss-battle" controls name="media" loop> <source src="../../utility/boss-battle2.m4a" type="audio/mpeg"> </audio>


